@page
@model RouterManagerServer.UI.Areas.Identity.Pages.Account.LoginModel
@using Microsoft.AspNetCore.Components
@using VendManager.BlazorUI.Contracts

@inject NavigationManager NavigationManager

<!-- FontAwesome 6.5.2 CDN for icons -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
<link rel="icon" type="image/x-icon" href="./favicon.ico">

<div class="loading-indicator" hidden>
    <i class="fas fa-spinner fa-spin"></i>
</div>
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card shadow-sm">
                <div class="card-body">
                    <div class="text-center mb-4">
                        <img src="/images/redkey.jpg" alt="Logo" class="mb-3" style="width: 150px;" />
                    </div>
                    <hr />
                    <div class="text-center mb-4">
                        <h4 class="d-inline-block font-weight-bold">Sign In</h4>
                    </div>
                    <!-- Alert section for error messages -->
                    @if (Model.ErrorMessage != null)
                    {
                        <div class="alert alert-danger" role="alert">
                            @Model.ErrorMessage
                        </div>
                    }
                    <form id="account" method="post" onsubmit="showLoadingSpinner()">
                        <DataAnnotationsValidator />
                        <ValidationSummary class="text-danger" />
                        <div class="mb-3">
                            <input asp-for="Input.Email" class="form-control" placeholder="Username" />
                        </div>
                        <div class="mb-3">
                            <div class="password-container" style="position: relative;">
                                <input type="password" asp-for="Input.Password" class="form-control" id="passwordInput" placeholder="Password" />
                                <i class="fas fa-eye password-toggle" id="togglePassword" style="position: absolute; right: 10px; top: 50%; transform: translateY(-50%); cursor: pointer;"></i>
                            </div>
                        </div>

                        <div class="mb-3 form-check">
                            <input type="checkbox" class="form-check-input" />
                            <label class="form-check-label" for="keepSignedIn">Keep me signed in</label>
                        </div>
                        <button type="submit" class="btn btn-primary w-100" id="loginButton">
                            <span id="button-text">Sign In</span>
                            <span id="spinner" class="spinner-border spinner-border-sm" style="display: none;"></span>
                        </button>
                    </form>

                    <div class="or-separator">
                        <span>New Account</span>
                    </div>
                    <div class="text-center">
                        <a href="/identity/account/register" class="btn btn-secondary w-100" id="createAccountButton">Create New Account</a>
                    </div>
                    <div class="text-center mt-3">
                        <a href="/forgot-password" class="d-block">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    body {
        font-family: 'Roboto', sans-serif;
    }

    .or-separator {
        display: flex;
        align-items: center;
        text-align: center;
        margin: 20px 0;
    }

        .or-separator::before, .or-separator::after {
            content: '';
            flex: 1;
            border-bottom: 1px solid #ccc;
        }

        .or-separator::before {
            margin-right: .25em;
        }

        .or-separator::after {
            margin-left: .25em;
        }

    label {
        color: black;
    }

    .loading-indicator {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
        display: flex; /* Center the spinner horizontally and vertically */
        justify-content: center;
        align-items: center;
    }

    /* New style for disabled button */
    .disabled-button {
        background-color: #ccc;
        cursor: not-allowed;
    }

    .spinner-border {
        display: inline-block;
        width: 1rem;
        height: 1rem;
        vertical-align: -0.125em;
        border: 0.25em solid currentColor;
        border-right-color: transparent;
        border-radius: 50%;
    }

    /* Style for Sign In button */
    #loginButton {
        background-color: #FE7109;
        border-color: #FE7109;
    }

        #loginButton:hover {
            background-color: darken(#FE7109, 10%);
        }

    /* Style for Create Account button */
    #createAccountButton {
        border-color: #FE7109;
        color: #FE7109;
        background-color: white;
    }

        #createAccountButton:hover {
            background-color: #FE7109;
            color: white;
        }
</style>

<script>
    function showLoadingSpinner() {
        var loginButton = document.getElementById("loginButton");
        var spinner = document.getElementById("spinner");
        var buttonText = document.getElementById("button-text");

        // Hide button text and show spinner
        buttonText.style.display = "none";
        spinner.style.display = "inline-block";

        // Disable the button to prevent multiple submissions
        loginButton.disabled = true;
    }

    document.getElementById("togglePassword").addEventListener("click", function () {
        var passwordInput = document.getElementById("passwordInput");
        var togglePassword = document.getElementById("togglePassword");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            togglePassword.classList.remove("fa-eye");
            togglePassword.classList.add("fa-eye-slash");
        } else {
            passwordInput.type = "password";
            togglePassword.classList.remove("fa-eye-slash");
            togglePassword.classList.add("fa-eye");
        }
    });
</script>
