@page "/activateuser"
@using VendManager.BlazorUI.Services
@using VendManager.BlazorUI.Services.Base
@inject IUserService UserService


<h3>Activate User</h3>


<DxLoadingPanel Visible="@isLoading" />
<DxGrid Data="Users"
        ShowFilterRow="true">
    <Columns>
        <DxGridDataColumn FieldName="Email" />
        <DxGridDataColumn FieldName="FirstName" />
        <DxGridDataColumn FieldName="LastName" />
        <DxGridDataColumn Caption="Actions" Width="80px">
            <CellDisplayTemplate>
                <div style="width: 100%; text-align: center;">

                    @if (userRole == "Admin")
                    {
                        <a href="" @onclick:preventDefault @onclick="() => NavigateToEdit(((User)context.DataItem).Id)" title="Edit">
                            <i class="fas fa-edit"></i>|
                        </a>
                    }

                    <a href="" @onclick:preventDefault @onclick="() => NavigateToDetails(((User)context.DataItem).Id)" title="See More">
                        <i class="fas fa-info"></i>
                    </a>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>

</DxGrid>

