@page "/viewdeactivatedusers"
@using VendManager.BlazorUI.Services
@using VendManager.BlazorUI.Services.Base
@inject IUserService UserService


<h3>Deactivated Users</h3>


<DxLoadingPanel Visible="@isLoading" />
<DxGrid Data="Users"
        ShowFilterRow="true">
    <Columns>
        <DxGridDataColumn FieldName="Email" />
        <DxGridDataColumn FieldName="FirstName" />
        <DxGridDataColumn FieldName="LastName" />
        <DxGridDataColumn Caption="Actions" Width="80px">
            <CellDisplayTemplate>
                <div style="width: 100%; text-align: center;">

                    @if (UserService.GetRole() == "Admin")
                    {
                        <a href="" @onclick:preventDefault @onclick="() => ActivateUser(true, ((User)context.DataItem).Id)" title="Activate">
                            <i class="fas fa-unlock"></i>
                        </a>
                    }
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
    </Columns>

</DxGrid>
<DxPopup @bind-Visible="@Visible" HeaderText="Confirm Activate" BodyText="Are you sure you want to activate?" ShowFooter="true" ShowCloseButton="false" HorizontalAlignment="HorizontalAlignment.Center" AllowDrag="true">
    <FooterContentTemplate>
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Primary" Text="OK" Click="ActivateUser" />
        <DxButton CssClass="popup-button my-1 ms-2" RenderStyle="ButtonRenderStyle.Secondary" Text="Cancel" Click="@context.CloseCallback" />
    </FooterContentTemplate>
</DxPopup>

