@page "/user/edit/{Id}"
@using VendManager.BlazorUI.Contracts
@using VendManager.BlazorUI.Services
@inject IUserManagementService IUserService
@inject NavigationManager NavigationManager

<h3>EditUser</h3>

<EditForm Model="@user" OnValidSubmit="UpdateUser">
    <DataAnnotationsValidator/>
    <ValidationSummary/>

    <div>
        <label>First Name:</label>
        <DxTextBox @bind-Text="user.AspNetUser.FirstName" />
    </div>
    <div>
        <label>Email:</label>
        <DxTextBox @bind-Text="user.AspNetUser.Email" />
    </div>
    @* <div>
        <label>Email Notification Interval (Minutes):</label>
        <DxTextBox @bind-Text="user.EmailNotificationIntervalMinutes" />
    </div>

    <div>
        <label>SMS Notification Interval (Minutes):</label>
        <DxTextBox @bind-Text="user.SmsNotificationIntervalMinutes.ToString()" />
    </div>
    <div>
        <label>Email Notification Last Processed At (UTC):</label>
        <DxTextBox @bind-Text="user.EmailNotificationLastProcessedAtDateTimeUTC.ToString()" />
    </div>
    <div>
        <label>SMS Notification Last Processed At (UTC):</label>
        <DxTextBox @bind-Text="user.SmSlNotificationLastProcessedAtDateTimeUTC.ToString()" />
    </div>
 *@

    <DxButton Context="buttonContext" RenderStyle="ButtonRenderStyle.Primary" SubmitFormOnClick="true">Activate</DxButton>
</EditForm>



@code {

    [Parameter]
    public string Id { get; set; }

    private VendManager.BlazorUI.Services.Base.UserDetails user = new ();

    protected override async Task OnInitializedAsync()
    {
        user = await IUserService.GetUserDetails(Id);
    }

    //Update Method
    private async Task UpdateUser()
    {
        await IUserService.UpdateUserDetails(user);
        NavigationManager.NavigateTo("/");
    }
}


@*<EditForm Model="@user" OnValidSubmit="UpdateUser">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label>First Name:</label>
        <DxTextBox @bind-Text="user.AspNetUser.FirstName" />
    </div>
    <div>
        <label>Email:</label>
        <DxTextBox @bind-Text="user.AspNetUser.Email" />
    </div>
    <div>
        <label>Email Notification Interval (Minutes):</label>
        <DxTextBox @bind-Text="user.EmailNotificationIntervalMinutes" />
    </div>
    <div>
        <label>SMS Notification Interval (Minutes):</label>
        <DxTextBox @bind-Text="user.SmsNotificationIntervalMinutes" />
    </div>
    <div>
        <label>Email Notification Last Processed At (UTC):</label>
        <DxTextBox @bind-Text="user.EmailNotificationLastProcessedAtDateTimeUTC" />
    </div>
    <div>
        <label>SMS Notification Last Processed At (UTC):</label>
        <DxTextBox @bind-Text="user.SmSlNotificationLastProcessedAtDateTimeUTC" />
    </div>

    <div>
        <DxButton Text="Save" UseSubmitBehavior="true" />
    </div>*@