@page "/machines"
@using VendManager.BlazorUI.Models
@using VendManager.BlazorUI.Services
@inject IUserService UserService

<h3>Machines</h3>


<DxLoadingPanel Visible="@isLoading" />
<DxGrid Data="Machines"
    ShowFilterRow="true"> 
    <Columns>
        <DxGridDataColumn FieldName="Name"/>
        <DxGridDataColumn FieldName="SerialNumber" />
        <DxGridDataColumn FieldName="Location" />
        <DxGridDataColumn FieldName="Notes" Width="280px" />
        <DxGridDataColumn FieldName="Enabled" />
        <DxGridDataColumn FieldName="LastCommunicationDateTimeUTC" Caption="Last Communication Date" />
        <DxGridDataColumn Caption="Actions" Width="80px">
            <CellDisplayTemplate>
                <div style="width: 100%; text-align: center;">

                    @if (userRole == "Admin")
                    {
                        <a href="" @onclick:preventDefault @onclick="() => NavigateToEdit(((MachineVM)context.DataItem).ID)" title="Edit">
                            <i class="fas fa-edit"></i>|
                        </a>
                    }
                    
                    <a href="" @onclick:preventDefault @onclick="() => NavigateToDetails(((MachineVM)context.DataItem).ID)" title="See More">
                        <i class="fas fa-info"></i>|
                    </a>

                    <a href="" @onclick:preventDefault @onclick="() => NavigateToDetails(((MachineVM)context.DataItem).ID)" title="Sensor History">
                        <i class="fas fa-history"></i>
                    </a>
                </div>
            </CellDisplayTemplate>
        </DxGridDataColumn>
            
    </Columns>
   
</DxGrid>
