@page "/machines"
@using VendManager.BlazorUI.Models

<h3>Machines</h3>

<DxGrid Data="Machines"
    ShowFilterRow="true"> 
    <Columns>
        <DxGridDataColumn FieldName="Name"/>
        <DxGridDataColumn FieldName="SerialNumber" />
        <DxGridDataColumn FieldName="Location" />
        <DxGridDataColumn FieldName="Notes" Width="280px" />
        <DxGridDataColumn FieldName="Enabled" />
    </Columns>
   
</DxGrid>
