@using VendManager.BlazorUI.Services
@inject IUserService UserService

<div id="sidebar" class="@(IsExpanded ? "expanded": "")">
    <DxGridLayout CssClass="page-layout" RowSpacing="1.5rem">
        <Rows>
            <DxGridLayoutRow Areas="header menu-button" Height="auto"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="navigation navigation"></DxGridLayoutRow>
            <DxGridLayoutRow Areas="footer footer" Height="auto"></DxGridLayoutRow>
        </Rows>
        <Columns>
            <DxGridLayoutColumn></DxGridLayoutColumn>
            <DxGridLayoutColumn Width="auto"></DxGridLayoutColumn>
        </Columns>
        <Items>
            <DxGridLayoutItem Area="header" CssClass="sidebar-header">
                <Template>
                    <img class="logo" src="images/redkey.png" alt="DevExpress logo" />
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="menu-button" CssClass="sidebar-header menu-button-container">
                <Template>
                    <div class="menu-button" @onclick="TriggerIsExpanded"></div>
                </Template>
            </DxGridLayoutItem>
            <DxGridLayoutItem Area="navigation" CssClass="layout-item">
                <Template>
                    <div @onclick="Collapse">
                        <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
                            <Items>
                                <DxMenuItem NavigateUrl="/" Text="@UserService.GetUserName()" CssClass="menu-item" IconCssClass="fas fa-house-user"></DxMenuItem>
                                <DxMenuItem NavigateUrl="/machines" Text="Vending Machines" CssClass="menu-item" IconCssClass="fas fa-server"></DxMenuItem>
                                @if(UserService.GetRole() == "Admin")
                                {
                                    <DxMenuItem NavigateUrl="/machines" Text="User Management" CssClass="menu-item" IconCssClass="fas fa-users"></DxMenuItem>
                                }
                                
                            </Items>
                        </DxMenu>
                    </div>
                </Template>
            </DxGridLayoutItem>
             <DxGridLayoutItem Area="footer" CssClass="footer">
                <Template>
                    <DxMenu Orientation="@Orientation.Vertical" CssClass="menu">
                        <Items>
                            <DxMenuItem NavigateUrl="/Identity/Account/Logout" Text="Logout" CssClass="menu-item" IconCssClass="fa fa-sign-out-alt"></DxMenuItem>
                        </Items>
                    </DxMenu>
                </Template>
            </DxGridLayoutItem> 
        </Items>
    </DxGridLayout>
</div>

@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }
    public bool IsExpanded { get; set; } = false;

  

    void TriggerIsExpanded() {
        IsExpanded = !IsExpanded;
    }

    void Collapse() {
        IsExpanded = false;
    }
}